body{
	width: 100%;
	margin: 0 auto;
	min-width: 1050px;
}
@font-face {
  font-family: roboto-medium;
  src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./fonts/Roboto-Bold.ttf);
}

a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	display: inline-block;
}
.header-top{
	display: flex;
	height: 35px;
	padding:5px 100px;
}
.header-top .row-1{
	display: flex;
	flex:1;
	line-height: 35px;
}
.header-top .row-1 .right{
	font-family: roboto-regular;
	margin-left:30px;
	font-size: 13px;
	padding: 5px;
}
.header-top .row-1 .right span{
	position: absolute;
	top: 5px;
	left: 261px;
	font-family: roboto-regular;
}
.header-top .row-1 div{
	display: inline-block;}
.header-top .row-2{
	flex:1;
	text-align: right;
	position: relative;
}
.header-top .row-2 input{
	width: 200px;
	height: 32px;
	background-color: #e8ecf3;
	border-radius: 4px;
	border:none;
	padding:0 0 0 30px;
}
.header-top .row-2 i{
	position: absolute;
	right: 205px;
	top: 8px;
	color: #7088a9;
}
.header-center{
	font-family: roboto-medium;
	padding:0 100px;
	height: 50px;
	background-color: #ff9900;
}
.icon-class{
	position: absolute;
	bottom: 0;
	right: 0;
}
div.menu-81 ul li {
	border: 1px solid white;
}
.header-center{
	display: flex;
}
.header-center div.classs{
	position: relative;
	line-height: 50px;
	width: 8.1%;
	border-right:1px solid #ffad33;
	text-align: center;
	font-size: 13px;
	font-family: roboto-medium;
}
.header-center div.menu-child{
	color: #666666;
	font-family: roboto-regular;
	font-size: 13px;
	position: relative;
	width: 224.984px;
	display: grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 11px;
	background-color: white;
	padding: 20px 0 20px 20px;
}
.header-center div.reverse{
	position: absolute;
	right: -1px;
}
.header-center div.menu-child a{
	color: black;
}
.header-center div.menu-child ul li{
	display: block;
	line-height: 30px;
	border: 1px solid white;
}
.header-center div.menu-child ul li:hover{
	border: 1px solid #ff9900;
	border-radius: 20px;
	color: #ff9900;
}
div.menu-none{
	display: none;
}
.header-center div.classs:hover div.menu-none{
	display: block;
}
div.menu-child img{
	position: absolute;
	bottom: 0;
	right: 0;
}
.header-center div a{
	color: #ffddaa;
}
.header-center div.classs{
	flex: 1;
}
.header-bottom{
	background-image: url(images/Layer5.png);
	background-position-x:center; 
	padding:10px 222px;
	height: 200px;
}
.header-bottom h1{
	font-family: roboto-bold;
	text-align: center;
	color: white;
	font-size: 30px;
}
.header-bottom div ul{
	display: block;
	margin: 0 0 10px 0;
	color: #f1f9f6;
}
.header-bottom div ul li{
	font-family: roboto-regular;
	display: inline-block;
	font-size: 15px;

}
.content{
	background-color: #f1f1f1;
}
.tab-post{
	padding:35px 100px 0;
	font-family: roboto-regular;
}
.tab-header{
	position: relative;
	display: flex;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}
div.underline{
	position: absolute;
	width: 48px;
	border-bottom: 3px solid #ff9900;
	background-color: red;
	left: 0;
	bottom: 0;
}
.tab-header a{
	flex:1;
}
.tab-header div{
	flex:6;
}
.status-left{
	font-size: 30px;
	color: #333333;
}
.status-right{
	font-size: 13px;
	text-align: right;
	color: #35b89f;
	transform: translateY(126%);
}
.status-center{
	line-height: 37px;
}
.status-center span{
	line-height: 30px;
	color: #00a888;
	border: 1px solid #00a888;
	border-radius: 19px;
	display: inline-block;
	padding:0 10px;
}
.set-width{
	width: 62.55px;
	text-align: center;
}
.status-center span:hover{
	background-color: #00a888;
	color: white;
}
.main-tab{
	margin-top: 20px;
	display:grid;
	grid-template-columns: 49% 48.5%;
	grid-column-gap: 27px;
	grid-row-gap: 27px;
}
.main-tab div a div{
	display: flex;
}
.main-tab span.director{
	flex: 2;
}
.main-tab span.eyes{
	color: #999999;
	margin-right: 10px;
}
.main-tab-bottom{
	padding-bottom: 70px;
}
.main-tab h3{
	color: #333333;
	font-family: roboto-medium;
	font-size: 17px;
}
.main-tab span{
	font-size: 12px;
	color: #00a888;
	margin:10px 0;
}
.main-tab p{
	color: #666666;
	font-family: roboto-regular;
	font-size: 13px;
}
.main-tab>div{
	background-color: #ffffff;
	padding:10px;
}
div.service{
	padding:30px 100px 30px;
}
div.service h1{
	color: #333333;
	text-align: center;
	font-size: 30px;
	font-family: roboto-regular;
	margin-bottom: 60px;
}
div.service .source div{
	flex: 1;
}
div.service .source h2{
	color: #333333;
	font-size: 20px;
	font-family: roboto-regular;
}
div.service .source span{
	font-size: 13px;
	color: #999999;
	font-size: roboto-regular;
}
div.service .source{
	display: flex;
}
div.service .source div{
	text-align: center;
}
footer{
	padding:30px 100px 0;
	height: 195px;
	background-color: #2f3b4d;
}
footer .menu-footer{
	margin: 25px 0 ;
}
footer .menu-footer ul{
	display: flex;
	height: 20px;
	border-top: 1px solid #444f5f;
	border-bottom: 1px solid #444f5f;
	padding:20px 20px;
	border-right: none;
}
footer .menu-footer ul li{
	flex: 1;
	padding: 0 27px;
	border-right:1px solid #444f5f;
	text-align: center;
}
footer .menu-footer ul li a{
	color: #979da6;
}
footer .Design{
	text-align: center;
	font-family: roboto-regular;
	color: #979da6;
	margin: 20px 0;
	line-height: 20px;
}
@media screen and (max-width:1150px ){
	div.status-left{
		flex: 3;
	}
	div.main-tab{
		display: grid;
		grid-template-columns: 100%;
	}
}